* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #e9e9e9;
  /* adding padding or margin to the page will make it unresponsive for the 
  other screen sizes, instead use margin */
  margin: 0 5%;
}

header {
  display: flex;
}

.nav-links {
  display: flex;
  /* list-style: none; */
  /* justify-content: flex-start; */
  /* padding-left: 20px; */
  /* margin-top: 3vh; */

  /* Naims Edit */
  /* uses as much as space as possible for the menu items, if you add more menu items 
  it will automatially adjust the sizing and paddings */
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav-link {
  /* Naims edit */
  /* make it use the all allocated space */
  /* also use this classname on parent divs instead of children */
  width: 100%;
}

/* now you can access to the children by specifying a tag */
.nav-link a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-decoration: none;
  /* padding-right: 100px; */
  /* put the list item in the middle */
  display: flex;
  justify-content: center;
  align-items: center;
  /* added padding to top and bottom to make it wider instead of adding height
  to the whole header bar. menu items will determine the height automatically 
  and the items always will be in the middle */
  padding: 1em 0;
}

.top-header-container {
  background: rgb(255, 255, 255);
}

.logo-container {
  /* Naims edit */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* since ther is one item, it shouldnt cover the whole space in the flexbox */
  width: max-content;
  padding: 1em;
}

.logo {
  /* never use percentage for the margin of child items, only time you might use it as
  we did in the body, but its still not recomended */
  /* margin-left: 1.8%;
  margin-top: -1%; */
}

.intro-text {
  background: aquamarine;
  flex: 1;
  /* this is okay to use, when it comes to heights you can make it however you want */
  height: 60vh;
  /* unnecessary */
  /* margin: auto;
  margin-top: 2%; */
  margin-top: 2em;
  justify-content: center;
  align-items: center;
  display: flex;
}

nav {
  background: rgb(29, 51, 51);
  flex: 1;
}

img {
  margin: 1%;
}
